/* * Base CSS */
body {
  background-color: #b7c7d6;
  background-image: url('http://mms.aimdatabase.com/Images/Dealer01/Global/Abstract-seamless-snow-WHT-TR-40opacity-200x200.png');
  background-repeat: repeat;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow-x:hidden;
}
.logo {
  max-width:100%;
  width:450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
.container {
  width: 510px;
  max-width: 100%;
  margin: 0px auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  
}
/* * Slot Machine */
.slot-machine {
  text-align: center;
  background-image: linear-gradient(#faf3a2, #95722D, #C99A3C);
}
.slot-machine .sm-main {
  position: relative;
  padding-top: 40px;
}
.slot-machine .sm-main .slot-handle {
  position: absolute;
  height: 25px;
  width: 30px;
  background-color: #acacac;
  border: 3px solid #acacac;
  left: 510px;
  top: 140px;
}
.slot-machine .sm-main .slot-handle .slot-gear {
  position: absolute;
  height: 80px;
  width: 20px;
  background-color: #b8bcc5;
  border: 3px solid #b8bcc5;
  top: -58px;
  left: 25px;
  border-bottom-right-radius: 5px;
}
.slot-machine .sm-main .slot-handle .slot-gear .slot-knob {
  position: absolute;
  background: radial-gradient(#4177a1, #1f4b8e);
  border-color: #fde381;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -30px;
  left: -15px;
  transition: top 0.5s ease-out;
}
.slot-machine .sm-main .slot-handle .slot-gear .slot-knob:hover {
  cursor: pointer;
  top: -20px;
}
.slot-machine .slot {
  background-color: #172540;
  background-size: 100px;
  background-repeat: repeat-y;
  background-position-y: -4px;
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
  border: 3px solid #fde381;
}
.slot-machine .slot:nth-of-type(1) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .slot:nth-of-type(1).motion {
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=3aee9368-0985-587c-99a4-7ea1cbf6fdc5);
}
.slot-machine .slot:nth-of-type(2) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
  background-position-y: 119px;
}
.slot-machine .slot:nth-of-type(2).motion {
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=3aee9368-0985-587c-99a4-7ea1cbf6fdc5);
}
.slot-machine .slot:nth-of-type(3) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
  background-position-y: 232px;
}
.slot-machine .slot:nth-of-type(3).motion {
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=3aee9368-0985-587c-99a4-7ea1cbf6fdc5);
}
.slot-machine .motion {
  animation: animated 3s linear infinite;
}
.slot-machine .sm-action {
  margin-bottom: 40px;
}
.slot-machine .sm-action button {
  width: 326px;
  max-width: 80%;
  min-height: 60px;
  color: #b7c7d6;
  background: #1f4b8e;
  padding: 12px 17px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #1f4b8e;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.slot-machine .sm-action button:hover {
  box-shadow: inset 326px 0 0 0 #172540;
  color: #fff;
}
.slot-machine .sm-messages {
  background-color: #fff;
}
.slot-machine .sm-messages .sm-result {
  background-color: #1f4b8e;
  opacity: 0;
  visibility: hidden;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 3s ease-in, opacity 0.5s ease-in;
}
.slot-machine .sm-messages .sm-result.show {
  opacity: 1;
  visibility: visible;
  padding-bottom: 20px;
  max-height: 600px;
}
.slot-machine .sm-messages .sm-result.show h1 {
  padding-top: 40px;
}
.slot-machine .sm-messages .sm-result h1 {
  margin: 0;
  padding: 0px 50px 0px 50px;
  font-weight: normal;
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 1px;
}
.slot-machine .sm-messages .sm-result h1 span {
  font-weight: bold;
}
.slot-machine .sm-legend {
  background-color: #172540;
  text-align: center;
  padding: 20px 0;

}
.slot-machine .sm-legend ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}
.slot-machine .sm-legend li {
  padding: 0;
  margin: 0px 0px 10px 0px;
  color: #b7c7d6;
  display: inline-block;
  width:30%;
}
.slot-machine .sm-legend li span[class$="option"] {
  display: inline-block;
  background-size: 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.slot-machine .sm-legend li span.equation {
  display: inline-block;
  text-align: center;
  /* 	 margin-top: 20px; */
  height: auto;
  letter-spacing: 1px;
  vertical-align:middle;
}
.slot-machine .sm-legend li span.equation:last-of-type {
  /* 	 margin-left: 10px; */
}
.slot-machine .sm-legend li:nth-of-type(1) {
  letter-spacing: 2px;
  height: auto;
  width:100% !important;
}

.slot-machine .sm-legend li:nth-of-type(3) {
  border-left:1px solid rgba(255,255,255,.25);
  border-right:1px solid rgba(255,255,255,.25);
}
.slot-machine .sm-legend li:nth-of-type(2) span.first-option {
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(2) span.second-option {
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(2) span.third-option {
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(3) span.first-option {
  background-position-y: -42px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(3) span.second-option {
  background-position-y: -42px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(3) span.third-option {
  background-position-y: -42px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(4) span.first-option {
  background-position-y: -88px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(4) span.second-option {
  background-position-y: -88px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.slot-machine .sm-legend li:nth-of-type(4) span.third-option {
  background-position-y: -88px;
  background-image: url(https://contentservice.mc.reyrey.net/image_v1.0.0/?id=ca23871c-0f66-501f-9cd2-5c6fb5707c11);
}
.btn a {
  font-family: 'Montserrat', sans-serif;
  color: #1f4b8e;
  background: #b7c7d6;
  padding: 15px;
  max-width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.btn a:hover {
  box-shadow: inset 320px 0 0 0 #172540;
  color:#ffffff;
}
/* * Animations */
@keyframes animated {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1000%;
  }
}

@media screen and (max-width:500px) {
  .slot-machine .sm-legend li {
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #b7c7d6;
    display: inline-block;
    width:75%;
  }  
  .slot-machine .sm-legend li:nth-of-type(3) {
    border:0;
    border-top:1px solid rgba(255,255,255,.25);
    border-bottom:1px solid rgba(255,255,255,.25);
    padding:10px 0 15px 0;
  }
}

