.container
	.wrap
		.box
			p(data-copy-text="") Say goodbye to these, because it's the last time! I hear the jury's still out on science. I've opened a door here that I regret. I'm a monster. Really? Did nothing cancel? I'm afraid I just blue myself.
		.box
			p(data-copy-text="") I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. Say goodbye to these, because it's the last time!