.bodylove {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7fd;
}

.heart {
  --heart-color: var(--danger-color);
  --heart-width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: var(--heart-width);
  height: var(--heart-width);
  background: var(--heart-color);
  transform: rotate(-45deg);
  pointer-events: none;
}
.heart::before, .heart::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}
.heart::before {
  top: -50%;
}
.heart::after {
  right: -50%;
}