body {
  background: #2f35a0;
  font-size: 18px;
}
.menu {
  position: fixed;
  bottom: 30px;
  background-color: white;
  right: 30px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 100px;
  border-radius: 100px;
  transition: border-radius 0.3s 0.3s, width 0.2s 0.3s, height 0.2s 0.35s, bottom 0.2s 0.35s, right 0.2s 0.35s;
}
.menu div {
  opacity: 0;
  animation: fade-in 0.2s ease forwards;
  animation-delay: 0.5s;
}
.menu .menu-open {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu .menu-close,
.menu .menu-content {
  display: none;
}
.menu.open {
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  border-radius: 0;
}
.menu.open .menu-close {
  display: block;
  position: absolute;
  margin: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.menu.open .menu-content {
  display: block;
}
.menu.open .menu-open {
  display: none;
}
ul li {
  list-style-type: none;
  display: block;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0;
  animation: fade-in-right 0.35s ease-out forwards;
}
ul li:nth-child(1) {
  animation-delay: 0.45s;
}
ul li:nth-child(2) {
  animation-delay: 0.5s;
}
ul li:nth-child(3) {
  animation-delay: 0.55s;
}
ul li:nth-child(4) {
  animation-delay: 0.6s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}