* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

::-webkit-scrollbar-track
{
	background-color: transparent;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: #1d8dbf;
}

body {
  background-color: #dedfe3;
  overflow: hidden;
}

.popover {
  position: absolute;
  font-size: 11px;
  width: auto;
  max-width: 120px;
  height: auto;
  background: #FFF;
  color: #444;
  overflow-wrap: break-word;
  right: 0;
  line-height: 15px;
  text-align: center;
  padding: 10px 5px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(12, 53, 71,.2);
  z-index: 999;
}

.popover p {
  margin: 0;
  padding: 0;
}

#messenger {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dedfe3;
  overflow: auto;
  z-index: 10;
}

#messenger > #profile {
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  text-align: center;
  background: rgb(29,141,191);
  background: linear-gradient(90deg, rgba(29,141,191,1) 0%, rgba(29,141,191,1) 35%, rgba(0,224,255,1) 100%);
  cursor: pointer;
  z-index: 1;
}

#messenger > #profile > .name {
  position: relative;
  display: inline-block;
  height: 100%;
  color: #FFF;
  line-height: 60px;
  padding: 0 20px;
}

#messenger > #profile > .name .far {
  margin-right: 10px;
}

#messenger > ul {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #dedfe3;
  bottom: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
}

#messenger > ul > li {
  position: relative;
  animation: slide-up 0.4s ease;
}

#messenger > ul > li > .msgBox {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  border-radius: 20px;
  padding: 18px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(12, 53, 71,.1);
}

#messenger > ul > li > .msgBox > .msgUserInfo  {
  font-size: 14px;
  width: 100%;
  text-align: left;
  color: #AAA;
}

#messenger > ul > li > .msgBox > .msgContent  {
  width: 100%;
  text-align: left;
  min-width: 200px;
  font-size: auto;
  padding: 3px 0;
  word-break: break-all !important;
}

#messenger > ul > li > .msgBox > .msgContent .fas {
  font-size: 48px;
  color: #c9ae00;
  padding: 10px;
}

#messenger > ul > li > .msgBox > .msgContent img {
  max-width: 100%;
}

#messenger > ul > li > .msgBox > .msgDate  {
  width: 100%;
  font-size: 10px;
  text-align: right;
  color: #AAA;
}

#messenger > ul > .myMsgBox {
  text-align: right;
}

.writingMessage > .msgBox > .msgUserInfo {
  animation: writing 1s ease alternate infinite;
}

#messenger > #users {
  position: absolute;
  height: 60px;
  bottom: 190px;
  left: 10px;
  right: 10px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: 0 -30px 30px rgba(222, 223, 227, 1);
  z-index: 100;
}

#messenger > #users > div {
  position: relative;
  display: inline-block;
  height: 45px;
  padding: 0 15px;
  margin: 0 2px;
  line-height: 45px;
  background: #FFF;
  border-radius: 10px;
  color: #666;
  cursor: pointer;
  transition: .2s;
  animation: slide-up 0.4s ease;
  box-shadow: 0 5px 10px rgba(12, 53, 71,.2);
}

#messenger > #users > div .far {
  margin-right: 10px;
}

#messenger > #users > div:hover { 
  background-color: #1d8dbf;
  color: #FFF;
}

form {
  position: absolute;
  background: #FFF;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(12, 53, 71,.2);
}

form > input[type=text] {
  font-size: 22px;
  color: #444;
  width: 80%;
  height: 100%;
  border: none;
  padding: 0 20px;
  margin: 0;
  outline: none !important;
}

form > .editor {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}

.leavingState {
  opacity: 0.5;
}

form > button {
  position: absolute;
  font-size: 20px;
  background-color: #1d8dbf; 
  border: none;
  padding: 19px;
  right: 30px;
  bottom: 35px;
  color: #FFF;
  outline: none !important;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(12, 53, 71,.2);
  cursor: pointer;
  transition: .2s;
  z-index: 9999;
}

form > button:hover {
  background: #0a5d82;
}

form > button:active {
  background: #0a5d82;
  transform: scale(0.6);
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes writing {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}

.arrow-left {
  position: absolute;
  width: 0; 
  height: 0;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid white; 
}

.editor-toolbar {
  border: none;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 80px;
  max-height: 80px;
}

@media (min-width: 1000px) {
  #messenger {
    position: absolute;
    width: 1000px;
    height: 90%;
    top: 5%;
    left: 50%;
    margin-left: -500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5), 0 10px 55px rgba(0,0,0,0.5); 
  }
  
  .background {
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px; 
    background-image: url("https://images.unsplash.com/photo-1577578306649-09e937512e28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
  }
}