* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Open Sans;
}

button {
    font-family: Open Sans;
}

.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
}

p {
    margin-bottom: 15px;
}

input {
    text-align: center;
    border: none;
    font-size: 18px; color: black
    outline: none;
    transition: 0.3s;
}



.input-cool[type="text"] {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: rgba(47, 47, 47, 0.3) 0 0 15px inset;-webkit-box-shadow: rgba(47, 47, 47, 0.3) 0 0 15px inset;box-shadow: rgba(47, 47, 47, 0.3) 0 0 15px inset;border: 3px solid #fff;/*font-family: Helvetica, sans-serif;*//*font-size: 1em;*/outline: none;padding: 16px 11px;width: 300px; color:grey}

.form {
    width: 90%;
    max-width: 350px;
}

.row {
    margin: 10px 0;
    display: flex;
}

.row label {
    padding: 8px 0;
    color: #8B8B8B;
}

.row input {
    width: 70%;
    margin-left: auto;
    padding: 8px 10px;
}

button {
    width: 100%;
    margin-bottom: 15px;
    padding: 9px 0;
   /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    color: #8B8B8B;*/
    background: none;
    outline: none;
    border: none;
    transition: 0.3s;font-size: 18px; color: black
}



.resultbox {
    background: none;
}