:root {
  --primary: #263238;
  --primary-light: #4F5B62;
  --primary-dark: #000A12;
  --secondary: #DD2C00;
  --secondary-light: #FF6434;
  --secondary-dark: #A30000;
  --tertiary: #2962FF;
  --tertiary-light: #768FFF;
  --tertiary-dark: #0039CB;
  --primary-text-on-primary: white;
  --primary-text-on-primary-light: white;
  --primary-text-on-primary-dark: white;
  --primary-text-on-secondary: white;
  --primary-text-on-secondary-light: black;
  --primary-text-on-secondary-dark: white;
  --primary-text-on-tertiary: white;
  --primary-text-on-tertiary-light: black;
  --primary-text-on-tertiary-dark: white;
  --primary-text-on-light: black;
  --primary-text-on-dark: white;
  --secondary-text-on-primary: rgba(255, 255, 255, 0.5);
  --secondary-text-on-primary-light: rgba(255, 255, 255, 0.71);
  --secondary-text-on-primary-dark: rgba(255, 255, 255, 0.45);
  --secondary-text-on-secondary: rgba(255, 255, 255, 0.97);
  --secondary-text-on-secondary-light: rgba(0, 0, 0, 0.68);
  --secondary-text-on-secondary-dark: rgba(255, 255, 255, 0.71);
  --secondary-text-on-tertiary: rgba(255, 255, 255, 0.94);
  --secondary-text-on-tertiary-light: rgba(0, 0, 0, 0.68);
  --secondary-text-on-tertiary-dark: rgba(255, 255, 255, 0.66);
  --secondary-text-on-light: rgba(0, 0, 0, 0.56);
  --secondary-text-on-dark: rgba(255, 255, 255, 0.57);
  --disabled-text-on-primary: rgba(255, 255, 255, 0.35);
  --disabled-text-on-primary-light: rgba(255, 255, 255, 0.49);
  --disabled-text-on-primary-dark: rgba(255, 255, 255, 0.34);
  --disabled-text-on-secondary: rgba(255, 255, 255, 0.72);
  --disabled-text-on-secondary-light: rgba(0, 0, 0, 0.5);
  --disabled-text-on-secondary-dark: rgba(255, 255, 255, 0.53);
  --disabled-text-on-tertiary: rgba(255, 255, 255, 0.65);
  --disabled-text-on-tertiary-light: rgba(0, 0, 0, 0.5);
  --disabled-text-on-tertiary-dark: rgba(255, 255, 255, 0.48);
  --disabled-text-on-light: rgba(0, 0, 0, 0.43);
  --disabled-text-on-dark: rgba(255, 255, 255, 0.39);
  --error-text-on-light: #b71c1c;
  --error-text-on-dark: #ef9a9a;
  --border-color-on-light: rgba(0, 0, 0, 0.12);
  --border-color-on-dark: rgba(255, 255, 255, 0.12);
  --border-width-small: 0.0625rem;
  --border-width-medium: 0.1875rem;
  --border-secondary-color-on-light: rgba(0, 0, 0, 0.38);
  --border-secondary-color-on-dark: rgba(255, 255, 255, 0.5);
  --border-on-light: rgba(0, 0, 0, 0.12) solid 0.0625rem;
  --border-on-dark: rgba(255, 255, 255, 0.12) solid 0.0625rem;
  --primary-background: #EEEEEE;
  --secondary-background: #424242;
  --root-font-size: 16;
}

:root {
  font-size: calc(var(--root-font-size) * 1px);
}

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: var(--primary-background);
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  align-content: baseline;
  justify-content: center;
}

h1 {
  font-family: 'Roboto Slab';
  font-weight: 400;
}

.container {
  display: grid;
  grid-row-gap: 1rem;
}

.container__example {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #FFFFFF;
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
  border: 0.0625rem solid rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
}

.container__example--no-support {
  position: absolute;
  top: 0;
  left: 16px;
  color: var(--secondary-text-on-secondary-light);
}

.container__example--no-support a {
  color: var(--secondary);
}

.appbar {
  display: flex;
  width: 100%;
  min-height: 3.5rem;
}

.appbar__bottom {
  position: relative;
  width: 100%;
  color: white;
}

.appbar__bottom--inset {
  --appbar-background-color: var(--primary);
  --appbar-scale: 1;
  background: var(--appbar-background-color);
}

@supports (background: paint(id)) {
  .appbar__bottom--inset {
    filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.2)) drop-shadow(0 0.25rem 0.3125rem rgba(0, 0, 0, 0.14)) drop-shadow(0 0.0625rem 0.625rem rgba(0, 0, 0, 0.12));
  }
  .appbar__bottom--inset.appbar__bottom--center {
    background: paint(appBarBottom, center);
  }
  .appbar__bottom--inset.appbar__bottom--end {
    background: paint(appBarBottom, end);
  }
}

@supports not (background: paint(id)) {
  .appbar__bottom--inset {
    box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.3125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  }
}

.appbar__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.appbar__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.appbar__button {
  will-change: color;
  transition: color 170ms ease-out;
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.5rem;
  color: var(--secondary-text-on-primary);
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.appbar__button:hover,
.appbar__button:focus {
  color: var(--primary-text-on-primary);
}

.fab {
  will-change: box-shadow, background-color;
  transition: box-shadow 170ms ease-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  color: #FFFFFF;
  font-size: 0;
  background-color: var(--secondary);
  border: none;
  border-radius: 50%;
  z-index: +1;
  cursor: pointer;
  box-shadow: 0 0.1875rem 0.3125rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 1.125rem 0 rgba(0, 0, 0, 0.12);
}

@supports (background: paint(id)) {
  .fab {
    background-color: var(--primary);
  }
}

.fab--center {
  left: 50%;
  bottom: 3.5rem;
  transform: translate(-50%, calc(3.375rem / 2));
}

.fab--end {
  right: 0rem;
  bottom: 3.5rem;
  transform: translate(-1.125rem, calc(3.375rem / 2));
}

.fab:hover,
.fab:focus {
  background-color: var(--secondary--dark);
  box-shadow: 0 0.4375rem 0.5rem -0.25rem rgba(0, 0, 0, 0.2), 0 0.75rem 1.0625rem 0.125rem rgba(0, 0, 0, 0.14), 0 0.3125rem 1.375rem 0.25rem rgba(0, 0, 0, 0.12);
}

@supports (background: paint(id)) {
  .fab:hover,
  .fab:focus {
    background-color: var(--primary-dark);
  }
}