*, *:after, *:before {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  overflow: hidden;
  background: #000;
}
body:not(:hover) .spacer:nth-child(135):before {
  -webkit-animation: wave 0.5s infinite, flash 1s infinite;
          animation: wave 0.5s infinite, flash 1s infinite;
  opacity: 1;
}

.spacer {
  position: relative;
  width: 3vw;
  margin: 0.17vw 0.77vw;
}
.spacer:nth-child(even) {
  transform: translateY(-2vw);
}
.spacer:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #0f0;
  width: 6vw;
  height: 6vw;
  z-index: -10;
  border-radius: 50%;
  filter: blur(4px);
  opacity: 0;
}
.spacer:hover {
  z-index: -10;
}
.spacer:hover:before {
  -webkit-animation: wave 0.5s infinite, flash 1s infinite;
          animation: wave 0.5s infinite, flash 1s infinite;
  opacity: 1;
}

.hex {
  width: 3vw;
  height: 4vw;
  background: #111;
  position: relative;
}
.hex:before, .hex:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  border-style: solid;
  border-width: 2vw 1.25vw 2vw 1.25vw;
  border-color: transparent #111 transparent transparent;
}
.hex:after {
  left: 100%;
  border-color: transparent transparent transparent #111;
}

@-webkit-keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(6px);
  }
  100% {
    transform: translate(-50%, -50%) scale(6);
    filter: blur(20px);
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(6px);
  }
  100% {
    transform: translate(-50%, -50%) scale(6);
    filter: blur(20px);
  }
}
@-webkit-keyframes flash {
  0% {
    background: red;
  }
  25% {
    background: orange;
  }
  50% {
    background: yellow;
  }
  75% {
    background: green;
  }
  100% {
    background: blue;
  }
}
@keyframes flash {
  0% {
    background: red;
  }
  25% {
    background: orange;
  }
  50% {
    background: yellow;
  }
  75% {
    background: green;
  }
  100% {
    background: blue;
  }
}