h1 C<i class="fa fa-codepen"></i>DEPEN BUTTONS
.row.codepen-lines
	.col4
		hr.blue
	.col4
		hr.lime
	.col4
		hr.purple
.content
	.row(style="padding-top: 20px")
		.col6
			h4 Blue border on hover
			a.button.border-blue(href="#") C<i class="fa fa-codepen"></i>DEPEN
		.col6.remove-left-border
			h4 Lime border on hover
			a.button.border-lime(href="#") C<i class="fa fa-codepen"></i>DEPEN
	.row
		.col6
			h4 Purple border on hover
			a.button.border-purple(href="#") C<i class="fa fa-codepen"></i>DEPEN
		.col6.remove-left-border
			h4 White border on hover
			a.button.border-white(href="#") C<i class="fa fa-codepen"></i>DEPEN
	.row
		.col6
			h4 Gray Buttons
			a.button.gray-button(href="#") C<i class="fa fa-codepen"></i>DEPEN
		.col6.remove-left-border
			h4 White border button
			a.button.white-border(href="#") C<i class="fa fa-codepen"></i>DEPEN <i class="fa fa-angle-right"></i>
	.row
		.col12(style="padding-bottom: 20px")
			h4 Green Button
			a.button.green-button(href="#") C<i class="fa fa-codepen"></i>DEPEN
.credits(style="text-align: left; margin-left: 5%")
	h4 Libraries used in this pen
	p 1- Font Awesome
	p 2- grid.css