* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.menu-bar {
 max-width: 100%;
 height: 50px;
 border-bottom: 3px solid #eee;
}

.brand-logo {
 text-align: center;
 padding-top: 5px;
}

.brand-img {
 height: 40px
}

.left-items {
 position: absolute;
 right: 0px;
 top: 0px;
}

.brand-avt {
 width: 32px;
 border-radius: 50%;
 margin: 8px 10px;
 cursor: pointer;
}

.brand-search {
 opacity: 0.6;
 cursor: pointer;
 width: 48px;
}
.brand-search:hover {
 opacity: 1;
}

.box {
 position: relative;
 float: left;
}

.search {
 width: 0px;
 padding: 5px;
 transition: width .3s;
 position: absolute;
 right: 45px;
 box-sizing: border-box;
 opacity: 0;
 top: 6px;
 background-color: transparent;
 border: none;
 border-bottom: 1px solid #9e9e9e;
 border-radius: 0;
 outline: none;
 font-size:16px;
}

.search.expanded {
 width: 200px;
 opacity: 1;
 z-index: 999;
 color: #2c3e50;
 font-size:16px;
}
.search.expanded:focus{
 border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

#menu-icn {
 display: block;
 width: 38px;
 height: 29px;
 top: 10px;
 left: 18px;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: 1s ease-in-out;
 -moz-transition: 1s ease-in-out;
 -o-transition: 1s ease-in-out;
 transition: 1s ease-in-out;
 cursor: pointer;
 position: absolute;
}

#menu-icn span {
 display: block;
 position: absolute;
 height: 6px;
 width: 50%;
 background: #000;
 opacity: 1;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}

#menu-icn span:nth-child(1),
#menu-icn span:nth-child(2) {
 top: 0px;
}

#menu-icn span:nth-child(3),
#menu-icn span:nth-child(4) {
 top: 11px;
 background-color: orange;
}

#menu-icn span:nth-child(5),
#menu-icn span:nth-child(6) {
 top: 22px;
}

#menu-icn span:nth-child(odd) {
 left: 0px;
 border-radius: 9px 0 0 9px;
}

#menu-icn span:nth-child(even) {
 left: 50%;
 border-radius: 0 9px 9px 0;
}

#menu-icn.open span:nth-child(1) {
 left: 5px;
 top: 7px;
}

#menu-icn.open span:nth-child(2) {
 left: calc(50% - 5px);
 top: 7px;
}

#menu-icn.open span:nth-child(3) {
 left: -150%;
 opacity: 0;
 background-color: purple;
}

#menu-icn.open span:nth-child(4) {
 left: 150%;
 opacity: 0;
 background-color: purple;
}

#menu-icn.open span:nth-child(5) {
 left: 5px;
 top: 17px;
}

#menu-icn.open span:nth-child(6) {
 left: calc(50% - 5px);
 top: 17px;
}

#menu-icn.open span:nth-child(1),
#menu-icn.open span:nth-child(6) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}

#menu-icn.open span:nth-child(2),
#menu-icn.open span:nth-child(5) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

#menu-icn.open span:nth-child(2),
#menu-icn.open span:nth-child(5) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

.wDSX5e {
 -webkit-transform: translateX(-300px) translateZ(0);
 transform: translateX(-300px) translateZ(0);
 box-shadow: 0 0 4px rgba(0,0,0,.14),2px 4px 8px rgba(0,0,0,.28);
}

.wDSX5e {
 background: #fff;
 bottom: 0;
 display: -webkit-box;
 display: -moz-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 align-content: space-between;
 left: 0;
 overflow-y: auto;
 position: absolute;
 top: 50px;
 border-right: px solid #eee;
 -webkit-transition: -webkit-transform .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s;
 transition: -webkit-transform .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s;
 -webkit-transition: transform .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s;
 transition: transform .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s;
 visibility: hidden;
 width: 280px;
 z-index: 200;
}

.eejsDc {
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
}

.EaDnbd {
 -webkit-transform: translateX(0) translateZ(0);
 transform: translateX(0) translateZ(0);
 -webkit-transition: -webkit-transform .35s cubic-bezier(0.24, 1, 0.32, 1), visibility 0s;
 transition: -webkit-transform .35s cubic-bezier(0.24, 1, 0.32, 1), visibility 0s;
 -webkit-transition: transform .35s cubic-bezier(0.24, 1, 0.32, 1), visibility 0s;
 transition: transform .35s cubic-bezier(0.24, 1, 0.32, 1), visibility 0s;
 visibility: visible;
}

.dyjYy {
 width: 100%;
}

.Jf3Kxd {
 color: rgba(0, 0, 0, 0.87);
 height: 30px;
 line-height: 64px;
 font-size: 20px;
}

.dtGoC {
 height: 24px;
 width: 24px;
 position: absolute;
 left: 26px;
 top: 20px;
}

img {
 border: none;
}

.D2RHwc {
 padding-left: 80px;
}

.Jf3Kxd+.R4TmW,
.KTQ5Lc .R4TmW {
 border: none;
}

.R4TmW {
 padding: 24px 0;
 border-top: 1px rgba(0, 0, 0, 0.12) solid;
}

.wDSX5e .DOAbib {
 padding-left: 26px;
}

.DOAbib {
 cursor: pointer;
 display: -webkit-box;
 display: -moz-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 font-size: 14px;
 line-height: 24px;
 padding: 12px;
}

.DOAbib {
 outline: none;
}

a {
 text-decoration: none;
 color: #417fec;
}

.dPb3Qd .JUQOtc,
.DOAbib .JUQOtc,
.m5OvKb .JUQOtc {
 fill: rgba(0, 0, 0, 0.54);
 vertical-align: middle;
 outline: none;
}

.w8iOwc {
 color: rgba(0, 0, 0, 0.87);
 font-weight: bold;
 padding: 0 18px 0 30px;
 -webkit-flex: 1;
 flex: 1;
}

* {
 -webkit-tap-highlight-color: transparent;
}

body {
 height: 100%;
 -webkit-font-smoothing: antialiased;
 color: #212121;
 font-family: Roboto, Arial, Helvetica, sans-serif;
 margin: 0;
}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.menu-bar {
 max-width: 100%;
 height: 50px;
 border-bottom: 3px solid #eee;
}

.brand-logo {
 text-align: center;
 padding-top: 5px;
}

.brand-img {
 height: 40px
}

.left-items {
 position: absolute;
 right: 0px;
 top: 0px;
}

.brand-avt {
 width: 32px;
 border-radius: 50%;
 margin: 8px 10px;
 cursor: pointer;
}

.brand-search {
 opacity: 0.6;
 cursor: pointer;
 width: 48px;
}
.brand-search:hover {
 opacity: 1;
}

.box {
 position: relative;
 float: left;
}

.search {
 width: 0px;
 padding: 5px;
 transition: width .3s;
 position: absolute;
 right: 45px;
 box-sizing: border-box;
 opacity: 0;
 top: 6px;
 background-color: transparent;
 border: none;
 border-bottom: 1px solid #9e9e9e;
 border-radius: 0;
 outline: none;
 font-size:16px;
}

#menu-icn {
 display: block;
 width: 38px;
 height: 29px;
 top: 10px;
 left: 18px;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: 1s ease-in-out;
 -moz-transition: 1s ease-in-out;
 -o-transition: 1s ease-in-out;
 transition: 1s ease-in-out;
 cursor: pointer;
 position: absolute;
}

#menu-icn span {
 display: block;
 position: absolute;
 height: 6px;
 width: 50%;
 background: #000;
 opacity: 1;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}

#menu-icn span:nth-child(1),
#menu-icn span:nth-child(2) {
 top: 0px;
}

#menu-icn span:nth-child(3),
#menu-icn span:nth-child(4) {
 top: 11px;
 background-color: orange;
}

#menu-icn span:nth-child(5),
#menu-icn span:nth-child(6) {
 top: 22px;
}

#menu-icn span:nth-child(odd) {
 left: 0px;
 border-radius: 9px 0 0 9px;
}

#menu-icn span:nth-child(even) {
 left: 50%;
 border-radius: 0 9px 9px 0;
}

#menu-icn.open span:nth-child(1) {
 left: 5px;
 top: 7px;
}

#menu-icn.open span:nth-child(2) {
 left: calc(50% - 5px);
 top: 7px;
}

#menu-icn.open span:nth-child(3) {
 left: -150%;
 opacity: 0;
 background-color: purple;
}

#menu-icn.open span:nth-child(4) {
 left: 150%;
 opacity: 0;
 background-color: purple;
}

#menu-icn.open span:nth-child(5) {
 left: 5px;
 top: 17px;
}

#menu-icn.open span:nth-child(6) {
 left: calc(50% - 5px);
 top: 17px;
}

#menu-icn.open span:nth-child(1),
#menu-icn.open span:nth-child(6) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}

#menu-icn.open span:nth-child(2),
#menu-icn.open span:nth-child(5) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

#menu-icn.open span:nth-child(2),
#menu-icn.open span:nth-child(5) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

img {
 border: none;
}

* {
 -webkit-tap-highlight-color: transparent;
}

body {
 height: 100%;
 -webkit-font-smoothing: antialiased;
 color: #212121;
 font-family: Roboto, Arial, Helvetica, sans-serif;
 margin: 0;
}
