html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  text-decoration: none;
  margin: 0;
  text-indent: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  position: relative;
  padding-top: 100px;
  width: 300px;
  margin: 0 40px;
}

li {
  cursor: default;
  padding: 10px 0;
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #00BFD6;
    top: 0;
    transition: 500ms all;
  }

  &:after {
    transition-delay: 50ms;
    top: 100%;
  }

  &:hover {
    &:after,
    &:before {
      width: 100%;
    }
  }
  
  h3,
  p {
    color: #333;
    margin: 0;
  }

  h3 {
    font-weight: 500;
  }

  p {
    margin-top: 10px;
    height: 0;
    transition: 500ms all;
    transition-delay: 300ms;
    overflow: hidden;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    
    span {
      display: block;
    }
  }
}
